# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.env

# Virtual environments
venv/
.env/
.venv/

# Conda
conda-env/
.osmium_env/

# ===============================
# GraphHopper
# ===============================
graph-cache/
graph-cache-*/
*.gh

# ===============================
# OpenStreetMap data (HUGE)
# ===============================
*.osm.pbf
maps/*.osm.pbf
maps/*.pbf

# ===============================
# Map tiles (HUGE)
# ===============================
tiles/
*.mbtiles

# ===============================
# Node / Frontend (future)
# ===============================
node_modules/

# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
